<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828708039619-4l3rilv5kru126v740gmfbmas0sps07u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828708039619-4l3rilv5kru126v740gmfbmas0sps07u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828708039619-evopddqpgul3vhbbfakf92495umt5a31.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmQVWisJY53CbZPP0sfYj-tXvE6fhlrhE</string>
	<key>GCM_SENDER_ID</key>
	<string>828708039619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elhilalielmehdi.sportcoachapp</string>
	<key>PROJECT_ID</key>
	<string>sportcoach-aa7be</string>
	<key>STORAGE_BUCKET</key>
	<string>sportcoach-aa7be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828708039619:ios:34e25ed2dff8770dab2b76</string>
</dict>
</plist>